* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration: none;
}

.js-loading *,
.js-loading *::before,
.js-loading *::after{
	animation-play-state: paused !important;
}

html {
	scroll-behavior: smooth;
}

.breadcrumb_nav{
    padding: 9px 0;
    background: rgb(0, 102, 255);
    border-top: 2px solid rgb(0, 10, 255);
}

.breadcrumb_nav .breadcrumb_content{
    width: 25%;
    margin: 0 auto;
}

.breadcrumb_nav .breadcrumb_nav_list{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(0, 0, 255), -1px -1px 2px rgb(0, 0, 255);
}

.breadcrumb_nav .breadcrumb_nav_list .breadcrumb_item:nth-of-type(odd){
    cursor: pointer;
}

.breadcrumb_nav .breadcrumb_nav_list .breadcrumb_item:nth-of-type(even){
    cursor: default;
}

/* All Similar Content Styling */
.about-section,
footer {
	font-family: sans-serif;
}

section {
	padding: 100px 0;
}

section .title {
	position: relative;
	text-align: center;
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 200px;
	height: 3px;
	background: #111;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

section .title::after {
	position: absolute;
	bottom: -12px;
	left: 50%;
	padding: 5px;
	font-size: 20px;
	color: rgb(0, 0, 255);
	background: #fff;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}


/* *************************** */
/*      Back to Top Btn        */
/* *************************** */

.scroll-up-btn {
	position: fixed;
	height: 45px;
	width: 42px;
	background-color: rgb(0, 102, 255);
	right: 10px;
	bottom: 0;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-animation: slide-out-bck-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes slide-out-bck-bottom {
	0% {
	  -webkit-transform: translateZ(0) translateY(0);
			  transform: translateZ(0) translateY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateZ(-1100px) translateY(1000px);
			  transform: translateZ(-1100px) translateY(1000px);
	  opacity: 0;
	}
  }
  @keyframes slide-out-bck-bottom {
	0% {
	  -webkit-transform: translateZ(0) translateY(0);
			  transform: translateZ(0) translateY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateZ(-1100px) translateY(1000px);
			  transform: translateZ(-1100px) translateY(1000px);
	  opacity: 0;
	}
  }
  
  

.scroll-up-btn.show {
	pointer-events: auto;
	opacity: 1;
	bottom: 30px;
	-webkit-animation: tilt-in-bottom-2 0.6s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-bottom-2 0.6s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scroll-up-btn:hover {
	background-color: rgb(0, 122, 255);
	color: white;
}

 @-webkit-keyframes tilt-in-bottom-2 {
	0% {
	  -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
			  transform: rotateY(-30deg) translateY(300px) skewY(30deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
			  transform: rotateY(0deg) translateY(0) skewY(0deg);
	  opacity: 1;
	}
  }
  @keyframes tilt-in-bottom-2 {
	0% {
	  -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
			  transform: rotateY(-30deg) translateY(300px) skewY(30deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
			  transform: rotateY(0deg) translateY(0) skewY(0deg);
	  opacity: 1;
	}
  }

  /* *************************** */
/*        Scroll Bar           */
/* *************************** */

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(0, 132, 255);
	border-radius: 00px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 90, 255);
}

/* *************************** */
/*          NavBar             */
/* *************************** */

.navbar{
	padding: 15px 0px;
	background: #2F2F2F;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar .navbar-brand img {
	margin-left: 4px;
}

.navbar .active{
	color: rgb(0, 200, 255) !important;
	text-shadow: 1px 1px 2px black;
}

.navbar .navbar-brand img {
	width: 150px;
	padding: 0px;
}

.nav-link {
	font-size: 20px;
	color: white !important;
	margin: 0 10px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.nav-link:hover {
	color: rgb(0, 217, 255) !important;
}


.navbar-toggler {
	border: none;
	outline: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.navbar-toggler div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.toggle .line1{
	-webkit-transform: rotate(-45deg) translate(-5px, 6px);
	    -ms-transform: rotate(-45deg) translate(-5px, 6px);
	        transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	-webkit-transform: rotate(45deg) translate(-5px, -6px);
	    -ms-transform: rotate(45deg) translate(-5px, -6px);
	        transform: rotate(45deg) translate(-5px, -6px);
}

/* *************************** */
/*      Showcase content       */
/* *************************** */

.showcase {
	background: url("../Assets/background.png") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	overflow: hidden;
	background-blend-mode: overlay;
	background-position: left 60% bottom 30% !important;
	transition: all 0.4s ease;
	-webkit-animation: kenburns-bottom 3s ease-out both;
	        animation: kenburns-bottom 3s ease-out both;
}

 @-webkit-keyframes kenburns-bottom {
	0% {
		background-position: 20% 100%;
	}
	100% {
		background-position: 50% 50%;
	}
  }
  @keyframes kenburns-bottom {
	0% {
		background-position: 20% 100%;
	}
	100% {
		background-position: 50% 50%;
	}
  }
  
.show-on-scroll{
	opacity: 0;
}

.show-on-scroll.is-visible{
	opacity: 1;
}

.showcase h1{
	font-size: 2.5rem;
}

.showcase p{
	font-size: 1rem;
}

/* *************************** */
/*        about content        */
/* *************************** */
.about-section .title::after {
	content: "Who we are";
}

.about-section .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.about-section p {
	text-align: justify;
}



/* *************************** */
/*        team content         */
/* *************************** */
.team-section .title::after {
	content: "Team Members";
}


.team-section .container .row .col-lg-4 {
    display: flex;
    justify-content: center;
}

.team-section .card {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.team-section .card .card-image {
    width: 100%;
    max-height: 340px;
}

.team-section .card .card-image img {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.team-section .card .card-content {
    position: absolute;
    bottom: -180px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.team-section .card:hover .card-content {
    bottom: 0px;
}

.team-section .card:hover .card-content h4,
.team-section .card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1;
}

.team-section .card .card-content h4,
.team-section .card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s;
}

.team-section .card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.team-section .card .card-content .social-icons {
    list-style: none;
    padding: 0;
}


.team-section .card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px);
}


.team-section .card:hover .card-content .social-icons li {
    transform: translateY(20px);
}

.team-section .card .card-content .social-icons li a {
    color: #fff;
}

.team-section .card .card-content .social-icons li a span {
    font-size: 1.3rem;
}

/* *************************** */
/*       Events content        */
/* *************************** */
.Events-section {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.Events-section .title::after {
	content: "Events Organized";
}

/* *************************** */
/*       Join Us content       */
/* *************************** */
.joinus-section .title::after {
	content: "Join our Team";
}

section.joinus-section {
	padding-bottom: 0;
}

/* *************************** */
/*        Events Page          */
/* *************************** */
.Upcoming.Events .title::after{
    content: "Future Events";
}

.Events .title::after {
    content: "Events Held";
}

.Events  .card{
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 360px;
    height: auto;
    margin:20px 5px;
    overflow: hidden;
    border-radius: 12px;
    background: #f3f2f2;
    -webkit-box-shadow: 3px 3px 6px #cacaca, -3px -3px 6px #ffffff;
            box-shadow: 3px 3px 6px #cacaca, -3px -3px 6px #ffffff;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.Events .card:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.Events .card .card-img-top{
    width: 100%;
}

.Events .card img{
    width: 100%;
}

.Events .Events h3{
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-size: 1.5rem;
    font-weight: 500;
}

/* *************************** */
/*           Footer            */
/* *************************** */
.footer {
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.9)));
	background: -o-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
}

.footer-title {
	font-size: calc(1.375rem + 1.5vw);
	font-weight: 300;
	line-height: 1.2;
}
.footer-icon {
	width: 2rem;
	height: 2rem;
	margin: 2px 6px;
}

/* *************************** */
/*        Media Query          */
/* *************************** */

@media (max-width: 990px) {
	.nav-link {
		font-size: 17px;
		margin: 0 3px;
	}

	.nav-link:hover {
		font-size: 18px;
	}

	.navbar-brand {
		margin-top: 0;
		padding-top: 0;
		width: 120px;
		margin-left: 8px;
	}

	.navbar-nav {
		margin-right: 20px;
	}

	.breadcrumb_nav .breadcrumb_content{
        width: 36%;
        margin: 0 auto;
    }

	.showcase {
		background-position: left 90% top 0% !important;
	}

	.showcase img {
		height: 86vh;
	}
	
	.showcase h1{
		font-size: 2.2rem;
	}

	.showcase p{
		font-size: .9rem;
	}

	.about-section img{
		width: 100%;
	}

    .team-section .container {
        margin-top: 20px;
    }

    .team-section .container .row .col-lg-4 {
        margin: 20px 0px;
    }

	.Events  .card{
        max-width: 550px;
    }
}


@media (max-width: 767px) {
	.breadcrumb_nav .breadcrumb_content{
        width: 46%;
        margin: 0 auto;
    }

	.nav-link {
		font-size: 18px;
		margin-top: 3px;
		margin-left: 20px;
		text-align: center;
		letter-spacing: 3px;
	}

	.nav-link:hover {
		-webkit-transform: scaleY(1.05);
		    -ms-transform: scaleY(1.05);
		        transform: scaleY(1.05);
		font-size: 19px;
		color: rgb(0, 132, 255) !important;
		text-shadow: 0px 1px 5px blue;
	}

	.active {
		color: rgb(0, 132, 255) !important;
		text-shadow: 0px 1px 1px black;
	}

	.Events  .card{
        max-width: 480px;
    }
}

@media (max-width: 600px) {
	.breadcrumb_nav .breadcrumb_content{
        width: 56%;
    }
    .breadcrumb_nav .breadcrumb_nav_list{
        font-size: 16px;
    }

	.showcase img {
		height: 66vh;
	}
}

@media (max-width: 550px) {
	section .title {
		font-size: 32px;
		margin-bottom: 58px;
		padding-bottom: 18px;
	}
	
	section .title::before {
		width: 190px;
	}
	
	section .title::after {
		font-size: 18px;
	}

	.navbar-brand img {
		margin-left: 8px;
		width: 120px;
	}
	.nav-link {
		font-size: 16px;
		margin-top: 0px;
		text-align: center;
		letter-spacing: 3px;
	}

	.nav-link:hover,
	.nav-link:active {
		-webkit-transform: scaleY(1.05);
		    -ms-transform: scaleY(1.05);
		        transform: scaleY(1.05);
		font-size: 17px;
	}

	.Events  .card{
        max-width: 400px;
    }
}

@media (max-width: 425px) {
	.breadcrumb_nav .breadcrumb_content{
        width: 66%;
    }
    .breadcrumb_nav .breadcrumb_nav_list{
        font-size: 15px;
    }

	.navbar-brand {
		margin-left: 0px;
	}
	
	section .title {
		font-size: 30px;
	}
	
	section .title::before {
		width: 188px;
	}
	
	section .title::after {
		font-size: 17px;
	}
	.showcase img {
		height: 50vh;
	}
	.about-section .text{
		font-size: 22px;
	}
	.Events  .card{
        max-width: 350px;
    }
    .Events h3{
        font-size: 1.4rem;
    }
}

@media (max-width: 392px){
    .Events  .card{
        max-width: 300px;
    }
    .Events h3{
        font-size: 1.2rem;
    }
    .Events .card p,
    .Events .card li{
        font-size: 0.9rem;
    }
}

@media (max-width: 375px){
	.breadcrumb_nav .breadcrumb_content{
        width: 80%;
    }

	.about-section .text{
		font-size: 19px;
	}
}

@media (max-width: 320px) {
	section .title {
		font-size: 28px;
	}
	
	section .title::before {
		width: 186px;
	}
	
	section .title::after {
		font-size: 14px;
	}

	.showcase h1{
		font-size: 1.7rem;
	}

	.showcase p{
		font-size: .8rem;
	}

	.showcase {
		background-position: left 94% top 30% !important;
	}

	.showcase img {
		height: 44vh;
	}
	.about-section .text{
		font-size: 18px;
	}

	.Events  .card{
        max-width: 250px;
    }
    .Events h3{
        font-size: 1rem;
    }
    .Events .card p,
    .Events .card li{
        font-size: 0.8rem;
    }
}